* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f8f4f4;
  color: #333232;
}
input:focus,
textarea:focus {
  outline: none;
}

main {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 1px 2px 4px gray;
  gap: 1.5rem;
  animation: zoom 1s ease forwards;
}
@keyframes zoom {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h1,
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
h2 {
  background-color: #06eb06;
  color: #6e4903;
}

/* ====== form ============ */
form {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid gray;
}
textarea {
  resize: vertical;
}
.error-msg {
  font-size: 0.7rem;
  text-align: end;
  color: red;
}
.input-error {
  border: 2px solid red;
  color: darkred;
}
.input-error:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 3px red;
}
.input-valid {
  outline: 1px solid #03d203;
  border-color: green;
  color: darkgreen;
}
.input-valid:focus {
  outline: none;
  border-color: green;
  box-shadow: 0 0 3px green;
}
input[type="checkbox"] {
  width: 2rem;
  height: 1rem;
  cursor: pointer;
}
label {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.btn:active:not(:disabled) {
  transform: scale(0.94) translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.btn:hover:not(:disabled) {
  background-image: linear-gradient(to right, #1515b4, #040462);
}
.btn:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

.fb-header {
  font-weight: bold;
  font-size: 1.1rem;
}
.feedback-container p {
  margin-bottom: 1rem;
}
