* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: rgb(248, 248, 246);
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.container {
  width: 500px;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  box-shadow: 1px 2px 5px grey;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
select {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
}
.radio-group {
  padding: 0.7rem;
  border-radius: 0.5rem;
  padding: 1.3rem;
  margin-bottom: 0.8rem;
}

textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0.2rem;
}
button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: rgb(3, 132, 3);
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
button:hover {
  background-color: rgb(8, 209, 8);
  transition: background-color 0.3s ease;
}

.radio-group input[type="radio"]:checked {
  accent-color: green;
  border-color: green;
  background-color: green;
  box-shadow: 1px 2px 5px grey;
  border-radius: 16px;
}
.radio-group input[type="radio"]:checked + label {
  color: green;
  font-weight: 500;
}

/* input:focus,
select:focus,
textarea:focus {
  outline: 2px solid rgb(7, 134, 7);
} */

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}
input:valid,
select:valid,
textarea:valid {
  border-color: green;
}
input:first-of-type {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
