* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    padding: 20px;
  }
  
  .label {
    border: 2px solid black;
    max-width: 270px;
    margin: 0 auto;
    padding: 0 8px;
  }
  
  .center {
    text-align: center;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .small-text {
    font-size: 0.85rem;
  }
  
  .calories {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    font-weight: 700;
    margin-top: -5px;
  }
  
  .calories-number {
    font-size: 2.4em;
  }
  
  .divider {
    border: none;
    border-bottom: 1px solid #888989;
    margin: 4px 0;
  }
  
  .divider.large {
    border: none;
    height: 10px;
    background-color: black;
  }
  
  .divider.medium {
    border: none;
    height: 5px;
    background-color: black;
  }
  
  .daily-value p {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
  }
  
  .indent {
    margin-left: 1em;
  }
  
  .double-indent {
    margin-left: 2em;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .note {
    font-size: 0.6rem;
    margin-top: 5px;
    padding-left: 8px;
    text-indent: -8px;
  }
  