* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter, sans-serif;
}
#email {
    padding: 50px;
    margin: 50px auto;
    width:500px;
    background-color: antiquewhite;
    border: 2px solid black;
    overflow: hidden;
}
#confidential, #top-secret {
    display: inline-block;
    color: red;
    font-size: 20px;
    font-weight: 700;
    padding: 11px;
    /* margin-left: 135px; */
    border: 4px solid red;
}

/* How can I move the divs(#confidential and #top-secret) to the right */
.stamp-container{
    display: flex;
    justify-content: right;
}
#confidential {
    transform: rotate(-30deg);
    margin-bottom: 10px;
}
#top-secret {
    transform: rotate(25deg); 
    margin-top: 20px;
} 
.text {
    padding-bottom: 1px;
    margin-bottom: 10px;  
}
.blurred {
    filter: blur(3px);
}