* {
  box-sizing: border-box;
}
table {
  color: white;
  max-width: 700px;
  margin: 0 auto;
}
td,
th {
  padding: 1rem;
}
tr.read {
  background-image: linear-gradient(
    to top,
    rgba(0, 128, 0, 0.5),
    rgba(0, 128, 0, 1)
  );
}
tr.to-read {
  background-image: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.5),
    rgba(128, 128, 128, 1)
  );
}
tr.in-progress {
  background-image: linear-gradient(
    to top,
    rgba(150, 150, 24, 0.5),
    rgba(150, 150, 24, 1)
  );
}
span {
  display: inline-block;
}
tr.to-read span.status {
  background-image: linear-gradient(#f14e4e);
  border: 2px solid #f14e4e;
}
tr.read span.status {
  background-image: linear-gradient(#04ae04);
  border: 2px solid #04ae04;
}
tr.in-progress span.status {
  background-image: linear-gradient(#919104);
  border: 2px solid #919104;
}
tr:first-of-type {
  color: black;
  background-image: linear-gradient(
    to top,
    rgba(2, 38, 123, 0.3),
    rgba(2, 38, 123, 0.7)
  );
}

span.status {
  height: 2rem;
  width: 2rem;
  padding: -7rem;
}

span.rate {
  height: 1rem;
  width: 2rem;
  padding: 1rem;
}
span > span.rate {
  border-radius: 20%;
  margin: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: aliceblue;
}
