@media (max-width: 576px) {
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
#main-doc {
  width: 100%;
  overflow: scroll;
  padding: 1px;
}
header {
  font-size: 1.6rem;
  margin: 1.5rem 0.5rem;
  text-align: left;
  color: #363636;
  line-height: 1;
}
#navbar {
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
  border: none;
}
#navbar header {
  text-align: center;
  margin: 0.5rem;
}
nav ul {
  width: 100%;
  padding: 0;
}
section p li {
  list-style: square;
}
nav li {
  margin-bottom: 0.7rem;
  border-top: 1px solid #363636;
  text-align: center;
  list-style: none;
  text-align: center;
}

.nav-link {
  font-size: 1rem;
  text-decoration-line: none;
  color: #363636;
  cursor: pointer;
}
.nav-link:hover {
  color: #c69e6d;
}

code {
  display: block;
  padding: 1rem 0;
  width: 97%;
  background: #eeeded;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95em;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }
  nav header {
    text-decoration: underline;
  }
  #navbar {
    flex: 1;
    max-width: 22%;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: scroll;
    border-right: 1px solid #363636;
  }
  #main-doc {
    flex: 3;
    padding: 1rem 2rem;
    overflow-y: auto;
  }
  header {
    font-size: 1.6rem;
    margin: 1.5rem 0.5rem;
    text-align: left;
    color: #363636;
    line-height: 1;
  }
  nav ul {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
  }
  nav li {
    padding-bottom: 1.5rem;
    border-top: none;
  }

  .nav-link {
    display: block;
    font-size: 1rem;
    text-decoration-line: none;
    color: #363636;
    cursor: pointer;
    border-bottom: 1px solid #363636;
    text-align: left;
  }
  .nav-link:hover {
    color: #c69e6d;
  }
  code {
    display: block;
    padding: 1rem 0;
    margin: 0.2rem 0;
    width: 97%;
    background: #eeeded;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.95em;
  }
}
