body {
    background-color: #f0f0f0;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}
.todo-list {
    background-color: white;
    box-shadow: 1px 2px greydwwxdsw;
    width: 500px;
    padding: .5rem;
    border-radius: 6px;
    text-align: center;
    margin: 2px auto;
    box-shadow: 1px 2px 5px grey;

    
}
.todo-list > li {
    /* margin: 0 auto; */
    background-color: #e5f1e5;;
    width: 400px;
    max-width: 500px;
    /* height: 100px;
    max-height: 200px; */
    margin: 1rem;
    padding: 10px;
    list-style-type:none;
    text-align: left;
    border-radius: 6px;
}
.todo-list > li:hover {
    background-color: #d4e9d4;
    cursor: pointer;
}

label {
    line-height: 3;
    font-size: 20px;
    margin-left: .5rem;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}
.sub-item > li {
    list-style-type: square;
}
.sub-item-link {
    text-decoration: none;
}
.sub-item-link:focus {
    border: 1px solid rgb(5, 53, 5);
}
.sub-item-link:hover {
    color: rgb(245, 154, 154)
}
.sub-item-link:active {
    color: green;
}
.sub-item-link:visited {
    color: rgb(138, 4, 138);
}