* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: aliceblue;
  padding: 1.5rem;
}
/* section {
  background-color: #413b1b;
  color: white;
  padding: 1.3rem;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
} */
button {
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  padding: 0.2rem 0.9rem;
  border: 1px solid gray;
}
